- extends "base_layout.html"


-block(:title) do
  Kelton Template

-#block(:my_scripts, ["hello.js"])

-block(:my_styles, ["hello.css"])

-block(:main) do
  %img{:src => Trivia::Resolve.path("/images/2f9cnjf89gfbkungno2qnbdldq.jpg")}

  %input{:type => "hidden", :name => Rack::Csrf.field, :value => Rack::Csrf.token(env)}
  %table
    -i = 0;
    -while i < fonts.length do
      %tr{:class => "row"}
        -2.times do |j|
          -if fonts[i] != nil
            %td{:class => "cell"}=fonts[i]
            - i += 1


  -fonts.each_index do |index|
    %p{:class => index % 2 == 0 ? "even" : "odd"}="%s %s" % [index + 1, fonts[index].downcase]
