#jim
	%strong{:class => 'hello-world'}
		mister jenkins
	#grandparents{:class => 'grandparents', "data-id" => 'cherokee'}
		#grandma{:class => 'grandparents', "oop-head" => 'tools'}
			#mom{:class => 'pp'}
			#dad{:class => 'm'}
		#grandpa{:class => 'grandparents'}
			%table	
				-i = 0;
				-while i < @fonts.length do
					%tr{:class => "row"}
						-2.times do |j|
							-if @fonts[i] != nil
								%td{:class => "cell"}=@fonts[i]
							- i += 1	
